<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBU LIMS | Dashboard</title>
    <link rel="stylesheet" th:href="@{styles/dashboard/dashboard.css}" type="text/css">
    <link rel="stylesheet" th:href="@{styles/bootstrap_3_3_7_css_bootstrap.css}">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link th:href="@{styles/font-awesome_4_7_0.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{styles/all.css}" rel="stylesheet" type="text/css" />
  </head>
<body>
        <aside class="side-nav" id="show-side-navigation1">
        
          <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
        
        
          <div class="heading">
            <div>
              <i class="fa fa-user-check" style="font-size: 50px; margin-right: 1rem"></i>
            </div>
            <div class="info">
              <h3><a href="#">
                  [[${#request.userPrincipal.principal.fullName}]]
                </a></h3>
              <p>Lab Assistant</p>
            </div>
          </div>
          <div>
          <ul class="categories">
        
            <p>
              <i class="fa fa-home fa-fw" aria-hidden="true"></i>
              <a href="/"> Lab Summary</a>
            </p>
        
            <li><i class="fa fa-support fa-fw"></i><a href="#"> Chemicals</a>
              <ul class="side-nav-dropdown">
                <li><a th:href="@{/chemicals/all}">View All</a></li>
                <li><a th:href="@{/chemicals/toexpire}">Soon to Expire</a></li>
                <li><a th:href="@{/chemicals/addnew}">Add New</a></li>
              </ul>
            </li>
        
            <li><i class="fa fa-envelope fa-fw"></i><a href="#"> Instruments</a>
              <ul class="side-nav-dropdown">
                <li><a th:href="@{/instruments/all}">View All</a></li>
                <li><a th:href="@{/instruments/damaged}">Damaged</a></li>
                <li><a th:href="@{/instruments/addnew}">Add New</a></li>
              </ul>
            </li>
        
            <!-- User Manual -->
            <p>
              <i class="fa fa-handshake-o fa-fw"></i>
              <a th:href="@{/ordered}"> Ordered</a>
            </p>
            <p>
              <i class="fa fa-quote-right fa-fw"></i>
              <a th:href="@{/notify}"> Notify Purchasing</a>
            </p>
            <p>
              <i class="fa fa-bell fa-fw"></i>
              <a th:href="@{/notifications}"> Notifications <span class="num prim" th:text="${notscount}"></span></a>
            </p>
            <p>
              <i class="fa fa-wrench fa-fw"></i>
              <a th:href="@{/settings}"> Settings </a>
            </p>
            <p>
              <i class="fa fa-code fa-fw"></i>
              <a th:href="@{/about}"> About the Developers</a>
            </p>
            <br /><br />
            <form th:action="@{logout}" method="post" style="width: 80%; margin: auto">
              <button class="btn btn-danger btn-block" type="submit">Logout</button>
            </form>
          </ul>
          </div>
        </aside>
    
    <section id="contents">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <i class="fa fa-align-right"></i>
            </button>
            <a class="navbar-brand" href="/">My<span class="main-color">Lab</span></a>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              
              <li><a href="#"><i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i></a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="welcome">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="content">
                <h2>Lab Summary</h2>
                <p>Summary statistics of inventory usage</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <section class="statistics">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="box">
                <div class="stat-identifier">
                  <i class="fas fa-vial fa-fw bg-primary" style="margin-left: 1rem"></i>
                  <div class="info">
                    <span>Chemicals Total</span>
                  </div>
                </div>
                <div class="stat-count">
                    <p th:text="${chemcount}"></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box" >
                <div class="stat-identifier">
                  <i class="fas fa-microscope fa-fw bg-primary" style="margin-left: 1rem"></i>
                  <div class="info">
                    <span>Instrument Total</span>
                  </div>
                </div>
                <div class="stat-count">
                    <p th:text="${instcount}"></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <div class="stat-identifier">
                  <i class="fas fa-check-circle fa-fw success" style="margin-left: 1rem"></i>
                  <div class="info">
                    <span>Requested Items</span>
                  </div>
                </div>
                <div class="stat-count">
                    <p th:text="${ordcount}"></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <div class="stat-identifier">
                  <i class="fas fa-exclamation fa-fw danger" style="margin-left: 1rem"></i>
                  <div class="info">
                    <span>Needing attention</span>
                  </div>
                </div>
                <div class="stat-count">
                  <p th:text="${expcount}"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="admins">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div>
                  <div class="col-md-8">
                    <div class="admin logger" >
                      <div class="info" style=" width: 100%">
                        <div>Latest Notifications</div>
                          <div >
                              <table class="table">
                                  <tbody id="tableBody">
                                  <tr th:each= "notification: ${latestnots}" style="background-color: rgba(19, 44, 209, 0.1); border: none; border-radius: 10px">
                                    <td th:text="${notification.message}"></td>
                                      <td>
                                          <!--Edit Button Start -->
                                          <!-- Button trigger modal -->
                                          <a th:href="@{/markread(notid=${notification.id})}" >
                                              <i class="fa fa-envelope" style="color: inherit; "></i>
                                          </a>
                                      </td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                    </div>
                    <div class="admin logger">
                      <div class="info" style="width: 100%">
                        <div>Damaged / To Expire</div>
                        <table class="table">
                          <tbody id="tableBody">
                          <tr style="background-color: rgba(209, 44, 19, 0.1); border: none; border-radius: 10px">
                            <td th:text="${earliestexp != null }? ${earliestexp.chemName} + ' expires on ' + ${earliestexp.expiryDate} : 'Non expiring soon'"></td>
                          </tr>
                          <tr style="background-color: rgba(209, 44, 19, 0.1); border: none; border-radius: 10px">
                            <td th:text="${latestdmg != null }? ${latestdmg.insName} + ' damaged recently' : 'Non damaged Recently' "></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4" >
                    <div class="admin logger" style="height: 235px">
                      <div class="info" style=" width: 100%">
                        <div>Recent Orders</div>
                          <table class="table">
                              <tbody id="tableBody">
                              <tr th:each= "order: ${latestord}" style="background-color: rgba(28, 209, 19, 0.1); border: none; border-radius: 10px">
                                  <td th:text="${order.quantity} + ' of ' + ${order.product} "></td>
                                  <td>
                                      <!--Edit Button Start -->
                                      <!-- Button trigger modal -->
                                      <a th:href="@{/markread(ordid=${order.id})}" >
                                          <i class="fa fa-envelope" style="color: inherit; "></i>
                                      </a>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="admin logger" >
                      <div class="info" >
                        <div>Log</div>
                        <div></div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div></section>

    </section>
    
    <script th:src='@{js/jquery-latest.js}'></script>
    <script th:src="@{js/bootstrap_3_3_7.js}" ></script>
    <script th:src="@{js/chartjs.bundle.js}"></script>
    <script th:src="@{js/dashboard.js}" type="text/javascript"></script>
</body>
</html>