<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>CBU LIMS | Settings</title>
    <link rel="stylesheet" href="/styles/dashboard/dashboard.css" type="text/css">
    <link rel="stylesheet" href="/styles/dashboard/settings.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
        type="text/css" />
        <link href="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.css" rel="stylesheet">
</head>

<body>

        <aside class="side-nav" id="show-side-navigation1">
        
          <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
        
        
          <div class="heading">
            <img
              src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance"
              alt="">
            <div class="info">
              <h3><a href="#">
                  [[${#request.userPrincipal.principal.fullName}]]
                </a></h3>
              <p>Lab Assistant</p>
            </div>
          </div>
        
          <ul class="categories">
        
            <p>
              <i class="fa fa-home fa-fw" aria-hidden="true"></i>
              <a href="/"> Lab Summary</a>
            </p>
        
            <li><i class="fa fa-support fa-fw"></i><a href="#"> Chemicals</a>
              <ul class="side-nav-dropdown">
                <li><a href="/chemicals/all">View All</a></li>
                <li><a href="/chemicals/toexpire">Soon to Expire</a></li>
                <li><a href="/chemicals/addnew">Add New</a></li>
              </ul>
            </li>
        
            <li><i class="fa fa-envelope fa-fw"></i><a href="#"> Instruments</a>
              <ul class="side-nav-dropdown">
                <li><a href="/instruments/all">View All</a></li>
                <li><a href="/instruments/damaged">Damaged</a></li>
                <li><a href="/instruments/addnew">Add New</a></li>
              </ul>
            </li>
        
            <!-- User Manual -->
            <p>
              <i class="fa fa-book fa-fw"></i>
              <a href="/documentation"> Documentation</a>
            </p>
            <p>
              <i class="fa fa-handshake-o fa-fw"></i>
              <a href="/ordered"> Ordered</a>
            </p>
            <p>
              <i class="fa fa-quote-right fa-fw"></i>
              <a href="/notify"> Notify Purchasing</a>
            </p>
            <p>
              <i class="fa fa-bell fa-fw"></i>
              <a href="/notifications"> Notifications <span class="num prim">6</span></a>
            </p>
            <p>
              <i class="fa fa-wrench fa-fw"></i>
              <a href="/settings"> Settings </a>
            </p>
            <p>
              <i class="fa fa-code fa-fw"></i>
              <a href="/about"> About the Developers</a>
            </p>
            <br /><br />
            <form th:action="@{logout}" method="post" style="width: 80%; margin: auto">
              <button class="btn btn-danger btn-block" type="submit">Logout</button>
            </form>
          </ul>
        </aside>

    <section id="contents">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <i class="fa fa-align-right"></i>
                    </button>
                    <a class="navbar-brand" href="#">My<span class="main-color">Lab</span></a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li><a href="#"><i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="welcome">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            <h2>Settings</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="statistics">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                        
	                        <ul class="nav nav-tabs">
							  <li class="active"><a data-toggle="tab" href="#home">Account</a></li>
							  <li><a data-toggle="tab" href="#menu1">Stock</a></li>
							</ul>
							
							<div class="tab-content">
							  <div id="home" class="tab-pane fade in active">
							    <h3>HOME</h3>
							    <p>Some content.</p>
							  </div>
							  <div id="menu1" class="tab-pane fade" style="max-height: 300px;">
							    <div  class="box">
							    <br><br>
							
							    <!-- start table -->
							    <div class="container-fluid mt-2 mb-2 bg-dark rounded">
							        <div class="row">
							        
							        
							        <div class="modal-search-container">
								        <div style="
								        	display:flex;
								        	flex-direction: column;
								        ">
								            <div >
								                <label class="text-muted" for="searchBox">
								                <input class="mt-3 mb-2" 
								                type="text" 
								                id="searchBox" 
								                name="searchBox"
								                placeholder="Type HERE to filter list"
								                required 
								                maxlength="255">
								            	</label>
								            </div>
								        </div>
								        
								        <!-- Modal Start -->
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
										  Configure new ID
										</button>
										
										<!-- Modal -->
										<div class="modal fade" 
											id="exampleModal" 
											tabindex="-1" 
											aria-labelledby="exampleModalLabel" 
											aria-hidden="true"
											data-target="#staticBackdrop"
											style="color:black">
										  <div class="modal-dialog">
										    <div class="modal-content">
										      <div class="modal-header">
										        <h5 class="modal-title" id="exampleModalLabel">Configure New Chemical/Instrument ID</h5>
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										          <span aria-hidden="true">&times;</span>
										        </button>
										      </div>
										      <div class="modal-body">
										        <form th:action="@{/addid}" th:object="${newid}" method="post">
										          <div  class="form-group">
										            <label for="recipient-name" class="col-form-label">ID</label>
										            <input type="text" th:field="*{productid}"class="form-control" id="recipient-name" required>
										          </div>
										          <div class="form-group">
										            <label for="message-text" class="col-form-label">Product/Instrument Name</label>
										            <input type="text" th:field="*{productname}" class="form-control" id="message-text" required>
										          </div>
										            
											      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
											      <button type="submit" class="btn btn-primary">Add</button>
										        </form >
										      </div>
										    </div>
										  </div>
										</div>
								        
								        <!-- Modal End -->
							        </div>   
							        </div>
							        <div class="row mb-2" >
							            <div class="col-md-12 bg-dark rounded shadow-lg text-start">
							                <div class="collapse1">
							                    <table
							                    class="table
							                    table-dark
							                    table-md"
							                    style="width: 100%;">
							                        <thead>
							                            <tr class="d-flex">
							                                <th class="col-1">Product ID</th>
							                                <th class="col-2">Product/Instrument Name</th>
							                                <th></th>
							                            </tr>
							                        </thead>
							                        <tbody id="tableBody">
							                            &emsp;
							                        </tbody>
							                    </table>
							                </div>
							            </div>
							        </div>
							    </div>
							    <!-- end table -->
							
							    <br><br>

							    </div>
							  </div>
							</div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="welcome">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            <div style="background: rgba(255, 255, 255, 0.05); padding: .5rem 1rem">
                                <h2>Key</h2>
                                <p>Key of used indicators</p>
                            </div>
                            <div style="padding: 1rem">
                                <div class="key-content">
                                    <p> Good Condition</p>
                                    <div style="width: 50%">
                                        <div style="margin:0; margin-top: .3rem" class="cond-dot dot-good"></div>
                                    </div>
                                </div>
                                <div class="key-content">
                                    <p> Okay Condition</p>
                                    <div style="width: 50%">
                                        <div style="margin:0; margin-top: .3rem" class="cond-dot dot-okay"></div>
                                    </div>
                                </div>
                                <div class="key-content">
                                    <p style="width: 50%;"> Bad Condition</p>
                                    <div style="width: 50%">
                                        <div style="margin:0; margin-top: .3rem" class="cond-dot dot-bad"></div>
                                    </div>
                                </div>
                                <div  class="key-content">
                                    <p style="width: 50%;"> More Info</p>
                                    <div style="width: 50%;">
                                        <i class="fa fa-info" ></i>
                                    </div>
                                </div>
                                <div class="key-content">
                                    <p style="width: 50%;"> Place Order</p>
                                    <div style="width: 50%;">
                                        <i class="fa fa-envelope-open"></i>
                                    </div>
                                </div>
                                <div class="key-content">
                                    <p style="width: 50%;"> Delete Entry</p>
                                    <div style="width: 50%;">
                                        <i class="fa fa-trash"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script src='http://code.jquery.com/jquery-latest.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    <script src="js/settings.js" type="text/javascript"></script>
    <script src="js/dashboard.js" type="text/javascript"></script>
	<script src="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.js"></script>
	<script th:inline="javascript">
		let productList = [[${idlist}]];
	</script>
</body>

</html>