<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1">
    <title>CBU LIMS | Not Found</title>
    <link rel="stylesheet" th:href="@{/styles/404.css}" type="text/css">
  </head>
<body>
	<div class="code-area">
	  <span style="color: #777;font-style:italic;">
	    // 404 page not found.
	  </span>
	  <span>
	    <span style="color:#d65562;">
	      if
	    </span>
		  (<span style="color:#4ca8ef;">!</span><span style="font-style: italic;color:#bdbdbd;">found</span>)
	    {
	  </span>
	  <span>
	    <span style="padding-left: 15px;color:#2796ec">
	       <i style="width: 10px;display:inline-block"></i>throw
	    </span>
	    <span>
	      (<span style="color: #a6a61f">"(╯°□°)╯︵ ┻━┻"</span>);
	    </span>
		  <span style="display:block">}</span>
		  <span style="color: #777;font-style:italic;">
			  // <a href="/">Go home!</a>
		  </span>
	  </span>
	</div>
  <script th:src="@{/js/404.js}" type="text/javascript"></script>
</body>
</html>