<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>CBU LIMS | Signed Up Successfully</title>
	<link rel="stylesheet" href="styles/login.css" type="text/css">
</head>
<body>
	<div class="login">
		<div class="img-div">
			<img class="logo" th:src="@{images/cbulogo.png}">
		</div>
	    <form method="post">
	    	<div class="signup-text">
	        	<p>Signed up successfuly, <a href="/login">Login</a></p>
	    	</div>
	    </form>
	</div>
</body>